*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}


/* Header and navigation  Style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}

.text-primary{
    color: #FD6E0A;
}
.button-primary{
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    padding: 18px 35px;
}

/* Banner style */
.banner-background-color{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
   
}
.banner{
    margin: 0px 190px;
    display: flex;
    align-items: center;
    
   
    
}

.banner-sub-title{
    font-weight: 450;
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-title{
    font-weight: 300;
    font-size: 50px;
    
}

.banner-pragraph{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main style */
main{
   max-width: 1140px;
   margin: 0px 190px;
   
}

/* About Style */
.about{
  margin-top: 100px;
  background: #FFF8F3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;

}

.section-title{

margin-bottom: 30px;
font-weight: 700;
font-size: 35px;

}

.section-pragraph{

    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}


.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}

.section-descrip{
    font-size: 20px;
    color: #474747;
}

/* What i do section */
.What-i-do{
    margin-top: 100px;

}

.section-title{
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 30px;
    padding-top: 50px ;
    text-align: center;
}

.skil-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.taitle{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}



/* Resume Style */


.resume-content{
    display: flex;
    gap: 26px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}
.Resume-sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-descip{
    color: #757575;
}

.resume-button{
    margin-top: 50px;
    text-align: center;
}